.find_leads {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PC */
@media (min-width: 64em) {
    .find_leads {
        padding: 0 100px;
    }
}

/* IPAD Pro */
@media (max-width: 64em) {}

/* TABLET & MOBILE */
@media (max-width: 63.9375em) {}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

/* MOBILE */
@media (max-width: 46.25em) {}